EMAIL_USER=email@example.com
EMAIL_PASS=password
EMAIL_PORT=25
EMAIL_HOST=smtp.example.com
EMAIL_FROM='"Kismet Alerts" <email@example.com>'
KISMET_HOST=localhost
KISMET_PORT=2501
KISMET_USERNAME=kismet
KISMET_PASSWORD=kismet